body {
  margin: 0;
}
.primary {
  background: #1b1e22;
  padding: 10px 30px;
  color: white;
  border: none;
  border-radius: 5px;
  border: 1px solid transparent;
  font-weight: bold;
  cursor: pointer;
}
.secondary {
  background: #161a1f4b;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid gray;
}
.ghost {
  background: #161a1f10;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid gray;
}
.danger {
  background: #f80900d8;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid rgba(128, 128, 128, 0);
}
.loading {
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border: 2px solid white;
  border-top: 2px solid transparent;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 10px;
}
.text {
  background: none;
  border: none;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.icon {
  border-radius: 50%;
  background: rgba(24, 21, 21, 0.253);
  width: 40px;
  height: 40px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.outline{
    background: transparent;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    border: 1px solid rgba(0, 0, 0, 0.877)
}
